<%= form_for ([@user, @portfolio]), html: {class: "form-horizontal"} do |f| %>
  <% if @portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
      <% @portfolio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!-- name -->
  <div class="control-group">
    <%= f.label :name, class: "control-label" %><br />
    <div class="controls">
      <%= f.text_field :name %>
    </div>
    
  </div>
  <!-- Capital -->
  <div class="control-group">
    <%= f.label :capital, class: "control-label" %><br />
    <div class="control-label">
      <%= f.text_field :capital %>
    </div>
    
  </div>
<!-- Brokerage -->
  <div class="control-group">
    <%= f.label :brokerage %><br />
    <%= f.text_field :brokerage %>
  </div>
<!--  -->
  <div class="control-group">
    <%= f.label :taxslipage, 'Tax + Slipage' %><br />
    <%= f.text_field :taxslipage %>
  </div>

  <div class="control-group">
    <%= f.label :totalextraround, 'Total Extra on round trip' %><br />
    <%= f.text_field :totalextraround %>
  </div>

  <div class="control-group">
    <%= f.label :mriskstock, 'Max risk on Stock' %><br />
    <%= f.text_field :mriskstock %>
  </div>

  <div class="control-group">
    <%= f.label :mriskcapitals, 'Max risk on Capital' %><br />
    <%= f.text_field :mriskcapital %>
  </div>

  <div class="control-groupfield">
    <%= f.label :mcats, 'Max Capital Allocated to Stock' %><br />
    <%= f.text_field :mcats %>
  </div>




  <div class="actions">
    <%= f.submit %>
  </div>
  <span class="btn" id="hide">Hide</span>
<% end %>
