<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Name</th>
    <th>Capital</th>
    <th>Invested</th>
    <th>Current Value</th>
    <th>Profit/loss</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


  <tr>
    <td><%= @portfolio.name %></td>
    <td><%= @portfolio.capital %></td>

    <td><%= number_with_precision(@portfolio.invested)  %></td>
    <td><%= number_with_precision(@portfolio.current_port_value) %></td>
    <td><%= number_with_precision(@portfolio.port_profit_loss) %></td>
    <!-- <td class="btn"><%#= link_to 'Show', @portfolio, remote: true %></td> -->
    
    <!-- <td class="btn"><%#= link_to 'Edit', edit_portfolio_path(@portfolio) %></td> -->
    
  </tr>

</table>
                          <% if false %>
                              <span class="btn"><%= link_to 'Trades', portfolio_trades_path(@portfolio), remote: true %></span>  
                          <% end %>

<span class="btn"><%= link_to 'New Trade', new_portfolio_trade_path(@portfolio), id: "newtradelink"  %></span>
<span class="btn"><%= link_to 'Settings', edit_user_portfolio_path(@user, @portfolio) %></span>
<!-- <span class="btn"><%#= link_to 'Back', portfolios_path %></span> -->
<span class="btn"><%= link_to 'Destroy', user_portfolio_path(@user, @portfolio), method: :delete, data: { confirm: 'Are you sure?' } %></span>
<span class="btn" id="hide1">Hide</span>

  <br><br>
                                <div class="well" id="showtrades">
                                  <
                                  
                                    <%= render "trades/trades" %>
                                  
                                   
                              
                                </div>