<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Name</th>
    <th>Capital</th>
    <th>Invested</th>
    <th>Current Value</th>
    <th>Profit/loss</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


  <tr>
    <td><%= @portfolio.name %></td>
    <td><%= @portfolio.capital %></td>

    <td><%= number_with_precision(@portfolio.invested)  %></td>
    <td><%= number_with_precision(@portfolio.current_port_value) %></td>
    <td><%= number_with_precision(@portfolio.port_profit_loss) %></td>
    <!-- <td class="btn"><%#= link_to 'Show', @portfolio, remote: true %></td> -->
    
    <!-- <td class="btn"><%#= link_to 'Edit', edit_portfolio_path(@portfolio) %></td> -->
    
  </tr>

</table>
<span class="btn"><%= link_to 'Trades', portfolio_trades_path(@portfolio), remote: true %></span>
<span class="btn"><%= link_to 'Settings', edit_portfolio_path(@portfolio) %></span>
<!-- <span class="btn"><%#= link_to 'Back', portfolios_path %></span> -->
<span class="btn"><%= link_to 'Destroy', @portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></span>
<span class="btn" id="hide1">Hide</span>