
<div class="row-fluid">
    <div class="span12 well">
        <ul class="inline portinline">
            <!-- listing all the portfolios -->
           <% @portfolios.each do |portfolio| %>                     
            <!--  show portfolio button -->
            <li class="btn"><%= link_to "#{portfolio.name}", user_portfolio_path(@user, portfolio), remote: true %></li>                         
           <% end %>
        </ul>

        <span class="btn newportbtn"><%= link_to 'New Portfolio', new_user_portfolio_path, id: "new_portfolio", remote: true %></span>
        

    </div>
    <div class="well"></div>





                                        <% if false %>
                                            <h1>Listing portfolios</h1>

                                        <table>
                                          <tr>
                                            <th>Name</th>
                                            <th>Capital</th>
                                            <th>Invested</th>
                                            <th>Current Value</th>
                                            <th>Profit/loss</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                          </tr>

                                        <% @portfolios.each do |portfolio| %>
                                          <tr>
                                            <td><%= portfolio.name %></td>
                                            <td><%= portfolio.capital %></td>

                                            <td><%= number_with_precision(portfolio.invested)  %></td>
                                            <td><%= number_with_precision(portfolio.current_port_value) %></td>
                                            <td><%= number_with_precision(portfolio.port_profit_loss) %></td>
                                            <td><%= link_to 'Show', portfolio, remote: true %></td>
                                            <td><%= link_to 'Trades', portfolio_trades_path(portfolio), remote: true %></td>
                                            <td><%= link_to 'Edit', edit_portfolio_path(portfolio) %></td>
                                            <td><%= link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                          </tr>
                                        <% end %>
                                        </table>

                                        <br />

                                        <%= link_to 'New Portfolio', new_portfolio_path, id: "new_portfolio", remote: true %>
                                        <% end %>




<div class="well" id="newportfolioform" style="display: none;"></div>

<% unless @portfolios.first.nil? %>
    <div class="well" id="showportfolio" >
        <%= render "portfolios/show" %>    
<% end %>
    
    
</div>
<!-- <div class="btn" id="newtradebutton">show new trade form</div> -->
<div class="well" id="newtrade" style="display: none;"></div>
<!-- <div class="btn" id="showtradesbutton">show trades</div><p id="loading">Loading..</p> -->
                            <% if false %>
                                <div class="well" id="showtrades">
                                  <% unless @trades.nil?  %>  
                                    <%= render "trades/trades" %>
                                  <% else %>
                                    <h3>Create new trade!!</h3>   
                                  <% end %>
                                </div>
                            <% end %>
    


                <% if false %>
                                <ul class="inline">
                            <% @portfolios.each do |portfolio| %>
                                
                                        <li id="portfolio_<%= portfolio.id %>"><%= portfolio.name %></li>
                                    
                            <% end %>
                            </ul>


                            <a href="" title=""  data-animation="apply a css fade transition to the tooltip">click</a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" id="testtip">hover over me</a>
                            <p id="tp">hi</p>
                <% end %>


    <div class="span7 well">
        
    </div>

    <div class="span5 well">
        
    </div>                

</div>




