<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stock.name %>
</p>

<p>
  <b>Quote:</b>
  <%= @stock.quote %>
</p>

<p>
  <b>Lastp:</b>
  <%= @stock.lastp %>
</p>


<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
