<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @remark.date %>
</p>

<p>
  <b>Op:</b>
  <%= @remark.op %>
</p>

<p>
  <b>Cp:</b>
  <%= @remark.cp %>
</p>

<p>
  <b>Day profit:</b>
  <%= @remark.day_profit %>
</p>

<p>
  <b>Remark:</b>
  <%= @remark.remark %>
</p>



<%= link_to 'Edit', edit_trade_remark_path(@trade, @remark) %> |
<%= link_to 'Back', trade_remarks_path(@trade) %>
