<h1>Listing trades</h1>

<table>
  <tr>
    <th>Portfolio</th>
    <th>Stock</th>
    <th>Qty</th>
    <th>Buy price</th>
    <th>Last Price</th>
    <th>Amount Invested</th>
    <th>Last Amount</th>
    <th>Buy date</th>
    <th>Bepoint</th>
    <th>Profit/Loss</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trades.each do |trade| %>
  <tr>
    <% Time.zone = 'New Delhi' %>
    <td> <%= trade.portfolio.name %></td>
    <td><%= trade.stock %></td>
    <td><%= trade.qty %></td>
    <td><%= trade.buy_price %></td>
    <td><%= trade.last_price %></td>
    <td><%= trade.amount %></td>
    <td><%= trade.last_amount %></td>
    <td><%= trade.buy_date.to_formatted_s(:short) %></td>
    <td><%= trade.bepoint %></td>
    <td><%= trade.totalpl %></td>
    <td><%= link_to 'Show', portfolio_trade_path(@portfolio, trade), id: "showtradelink" %></td>
    <td><%= link_to 'Remarks', trade_remarks_path(trade) %></td>
    <td><%= link_to 'Edit', edit_trade_path(trade) %></td>
    <td><%= link_to 'Destroy', [@portfolio, trade], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trade', new_portfolio_trade_path(@portfolio), id: "newtradelink"  %>
<span class="btn" id="hide1">Hide</span>

<div class="well" id="newtradeform"></div>
<div class="well" id="showtrade"></div>

<!-- Ranodm Examples -->
    <% if false %>
                <% Time.zone = 'New Delhi' %>
            <p><%= Date.current.to_formatted_s(:short) %> </p>
            <p><%= Time.current.to_formatted_s(:short) %> </p>

            <p><h3>Yahoo-finance Test</h3></p>



            <p></p>
            <p><h3>Yahoofinance Test</h3></p>


                <%= @quote.lastTrade %>
    <% end %>


    
  






