

<h1>Listing trades (<%= @portfolio.name %>)</h1>
        
<% unless @portfolio.trades.all.empty? %>
        <table class="tradetable">
  <tr>
    <!-- <th>Portfolio</th> -->
    <th>Buy date</th>
    <th>Script</th>
    <th>Qty</th>
    <th>Buy price</th>
    <th>Stop Loss</th>
    <th>Last Price</th>
    <th>Amount Invested</th>
    <th>Total Brokerage</th>
    <th>Total Amount</th>
    <th>Last Amount</th>
    <th>Min StopLoss</th>
    <th>Bepoint</th>
    <th>Ideal Quantity</th>
    <div>            
        <th>Risk</th>
        <th> Risk % Stock</th>
        <th> Risk % Portfolio</th>
        <th>Profit/Loss</th>
    </div>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trades.each do |trade| %>
    <div>
      <tr >
        <% Time.zone = 'New Delhi' %>
            <% javascript_tag do %>
                <!-- document.location = '<%= url_for(trade_remarks_path(trade))%>' -->
                window.tradeid ='raw <%= trade.id.to_json %>'

            <% end %>

                   
        <!-- <td> <%#= trade.portfolio.name %></td> -->     <!-- Portfolio -->  
        <td><%= trade.buy_date.to_formatted_s(:short) %></td>  <!-- buy date -->
        <td><%= trade.stock %></td>  <!-- Script -->
        <td><%= trade.qty %></td> <!-- qty -->
        <td><%= trade.buy_price %></td>  <!-- buy price -->
        <td><%= trade.bepoint %></td> <!-- Stip Loss -->
        <td><%= trade.last_price %></td> <!-- last price -->
        <td><%= number_with_precision(trade.amount) %></td> <!-- amount invested -->
        <td><%= number_with_precision(trade.tbr) %></td>   <!-- total brokerage -->
        <td><%= number_with_precision(trade.tamount) %></td> <!-- total amount -->
        <td><%= number_with_precision(trade.last_amount) %></td> <!-- last amount -->
        <td><%= number_with_precision(trade.minstoploss) %></td> <!-- min Stoploss -->
        <td><%= number_with_precision(trade.be_point) %></td>  <!-- be point -->
        <td><%= number_with_precision(trade.iqty) %></td>
        <div>           
            <td><%= number_with_precision(trade.risk) %></td>
            <td><%= number_with_precision(trade.riskperstock) %></td>
            <td><%= number_with_precision(trade.riskperport) %></td>
            <td><%= number_with_precision(trade.totalpl) %></td> <!-- p/l -->
        </div>
        <td><%= link_to 'Show', portfolio_trade_path(@portfolio, trade), id: "showtradelink" %></td>
        <td><%= link_to 'Remarks', trade_remarks_path(trade), id: "showremarklink" %></td>
        <td><%= link_to 'Edit', edit_trade_path(trade) %></td>
        <td><%= link_to 'Destroy', [@portfolio, trade], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr >
        <td colspan="8" rowspan="" headers="" >
            <div class="well" id="remark_<%= trade.id %>" style="display: none;">
                hello
            </div>
        </td>
      </tr>
    </div>  
<% end %>
</table>
<% else %>
    <h3>Make a new trade!!</h3>
<% end %>



<br />
                    <% if false %>
                        <span class="btn"><%= link_to 'New Trade', new_portfolio_trade_path(@portfolio), id: "newtradelink"  %></span>                
                    <% end %>
        
<span class="btn" id="hide1">Hide</span>


<div class="well" id="newtradeform" style="display: none;"></div>
<div class="well" id="showtrade" style="display: none;"></div>
<div class="well" id="showremark" style="display: none;">hi</div>

<!-- Ranodm Examples -->
    <% if false %>
                <% Time.zone = 'New Delhi' %>
            <p><%= Date.current.to_formatted_s(:short) %> </p>
            <p><%= Time.current.to_formatted_s(:short) %> </p>

            <p><h3>Yahoo-finance Test</h3></p>



            <p></p>
            <p><h3>Yahoofinance Test</h3></p>


                <%= @quote.lastTrade %>
    <% end %>


    
  






