<!DOCTYPE html>
<html>
<head>
  <title>Tradeoo.in</title>
  <%= include_gon %>
  <%= stylesheet_link_tag  "jquery-ui-1.10.3.custom.css", "application", :media => "all" %>

  <%= javascript_include_tag "jquery-1.9.1.js","jquery-ui-1.10.3.custom.min.js" %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body class="container">
	    <%= render 'layouts/header' %>

      
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>


       
      <div id="pagecontent">
         <%= yield %>
      </div>  
    </div>


    <div id="footer">
        <%= render 'layouts/footer' %>  
    </div>
      
    
</body>
</html>
